*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
}

:root{
    --primaria: #E4E0E1;
    --secundaria: #D6C0B3;
    --terciaria: #AB886D;
    --quartenaria: #493628;
    --quinta:  #493628d7;
}

.koh-santepheap-light {
    font-family: "Koh Santepheap", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .koh-santepheap-regular {
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-image: url(https://64.media.tumblr.com/c253e0c894134a6d728ae77f32ed98b2/4689fa43d09593aa-07/s1280x1920/ba09cfbc43e42a03fe068d430d1e361c4e60d1f6.gif);
    background-size: cover;
}

.container{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & .entradas{
        height: 50%;
        width: 28%;
        display: flex;
        flex-flow: column;
        background-color: var(--primaria);
        text-align: center;
        justify-content: center;
        gap: 0.8rem;
        border-radius: 5px;
    }
}


form{
    gap: 0.8rem;
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;

    & button {
        width: 30%;
        border: none;
        background-color: var(--secundaria);
        padding: 0.5rem;
        transition: 0.3s;
        border-radius: 5px;
        
        &:hover{
            cursor: pointer;
            background-color: var(--terciaria);
            transition: 0.3s ease-in-out;
        }      
    }
    & a{
        color: var(--quartenaria);
     }
}

label{
    display: flex;
    width: 60%;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
     & input {
        height: 1.5rem;
        width: 55%;
        text-align: center;
        border:none;
        background-color:azure;
        outline: none;
        border-radius: 2px;

        &:focus{
            outline: 2px solid var(--quartenaria)
        }
     }
}

.rodape{
    height: 10vh;
    width: 100%;
    background-color:var(--quinta);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    user-select: none;

    & p{
        color: white;
    }
}

.register{
    height: 65%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    & button{
        width: 30%;
        border: none;
        background-color: var(--secundaria);
        padding: 0.5rem;
        transition: 0.3s;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: var(--terciaria);
            transition: 0.3s ease-in-out;
        }
    }
}

@media (max-width: 1900px) {

    .entradas {
        height: 70% !important;
        width: 35% !important;
    }

}